/* ---------------------------------------------------------------------------
 *  Pryz theme based on Bare Theme (http://tomayko.com/src/adoc-themes/)
 *  https://github.com/Pryz/asciidoc
 *-------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:focus {
  outline: none;
}

body {
	font-family:verdana,helvetica,arial,sans-serif;
	margin:40px auto;
	max-width:53.8461538462em;
    box-sizing: border-box;
    color:#373737;
    background: #f2f2f2;
    font-size: 16px;
    font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

em {
	font-style:italic;
}

strong {
	font-weight:bold;
	color:#000;
}

tt {
	font-family: monospace, consolas, 'lucida console', 'bitstream vera sans mono',
	           'courier new';
	color:#000;
}

p, ul, ol, dl {
	margin:10px 0;
    /*font-size:15px;*/
    font-size:13px;
}

dl {
	margin-left:40px
}

dt {
	font-weight:normal;
	color:#000;
}

h1, h2, h3, h4, h5 {
    margin: 10px 0;
    font-weight: 700;
    color:#222222;
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
}

h1 {
	font-size:30px;
	line-height:1.428;
	margin:20px 0;
}

h2 {
	font-size:23px;
	line-height:1.36363636;
	margin:20px 0;
}

h2 + .sectionbody {}

h3 {
	font-size:18px;
	line-height:1.1;
	margin:30px 0 10px 0;
}

h4 {
	font-size:13px;
	font-weight:bold;
	line-height:1.538;
}

h5 {
	font-size:13px;
	font-style:italic;
	line-height:1.538;
}

pre {
	font-size:larger;
}

#header { 
	text-align:center;
	margin-bottom:30px;
}

#header h1 { margin-bottom:0 }


.title, .sidebar-title {
	font-weight:normal;
	color:#000;
	margin-bottom:5px;
	margin-top:10px;
}

.admonitionblock .title {
	font-weight:bold;
}

.admonitionblock {
	margin:30px 0px;
	color:#555;
}

.admonitionblock td.icon {
	width:30px;
	padding-right:20px;
	padding-left:20px;
	text-transform:uppercase;
	font-weight:bold;
	color:#888;
}

.listingblock {
    margin-bottom:30px;
}

.listingblock .content {
	background:#eee;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    overflow: auto;
}

.listingblock .content pre {
    color: #222;
    background-color: #fff;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 14px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 10px;
}

.literalblock .content {
	margin-left:40px;
}

.verseblock .content {
	white-space:pre
}

.sidebarblock .sidebar-content {
	border:1px solid silver;
	background:#FFFFEE;
	padding:0 10px;
	color:#222;
	font-size:smaller;
	line-height:1.5;
}

.sidebar-title {
	margin:10px 0;
	font-weight:bold;
	color:#442;
}

.quoteblock-content {
	font-style:italic;
	color:#444;
	margin-left:40px;
}

.quoteblock-content .attribution {
	font-style:normal;
	text-align:right;
	color:#000;
}

.exampleblock-content *:first-child { margin-top:0 }
.exampleblock-content {
	border-left:2px solid silver;
	padding-left:8px;
}

#footer {
	font-size:11px;
	margin-top:40px;
	border-top:1px solid silver;
	color:#555;
}

#author {
	color:#000;
	text-transform:uppercase
}

a:link, a:visited {
    text-decoration:none;
    color:#1C1C1C;    
}

a:hover {
    text-decoration:underline;
    text-decoration-color:red;
}

#search {
    margin-right:10px;
}

.sort {
    margin-left:15px;
    font-size:13px;
}

.sort:hover {
    cursor:pointer;
}

hidden {
    display:none;
}

#toc {
    text-align:left;
    margin-bottom:30px;
}

/* vim: set ft=css ts=4 sw=4 noexpandtab: */
